/* You can add global styles to this file, and also import other style files */
:root{
    --dark-blue: #2D3748;
    --dark-gray-blue: #323A49;
    --gray-blue: #4E5D73;
    --light-cyan: #CEE3E9;
    --light-green: #52FFA8;
    --gray-blue-medium: #3f4c5e;
    --font-family: 'Manrope', sans-serif;
}
body{
    background-color: #2D3748;
    font-family: var(--font-family);
    color: var(--light-cyan);
    margin: 0;
    width: 100%;
    height: 100%
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h6{
    color: var(--light-green);
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}
.card-advice{
    background-color: var(--gray-blue-medium);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    box-shadow: 0px 0px 6px 0px #303030;
}
.card-advice > q{
    text-align: center;
    font-size: 28px;
}
.col-1{
    width: 30%;
    margin: auto;
}
.card-advice .button-generator{
    position: absolute;
    bottom: -21px;
    height: 3em;
    width: 3em;
    background-color: var(--light-green);
    border-radius: 50%;
}
.button-generator > img{
    transform: translate(14px, 14px);
    width: 40%;
}
.button-generator:hover{
    transition: ease-in-out 250ms;
    box-shadow: 0px 0px 24px 4px var(--light-green);
    cursor: pointer;
}
.card-advice .img-divider-desktop{
    display: block;
    width: 90%;
    margin: 2rem 0;
}
.img-divider-mobile{
    display: none;
}
@media (min-width: 320px) and (max-width: 480px ){
    .col-1{
        width: 90%;
    }
    .img-divider-mobile{
        display: block !important;
        width: 90%;
        margin: 2rem 0;
    }
    .card-advice .img-divider-desktop{
        display: none !important;
    }

}
@media (min-width: 481px) and (max-width: 768px ){
    .col-1{
        width: 70%;
    }
}